@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: 'dark';
  default: false;
  prefersdark: true;
  color-scheme: 'dark';
  --color-base-100: oklch(0.21 0.006 285.885);
  --color-base-200: oklch(0.274 0.006 286.033);
  --color-base-300: oklch(0.141 0.005 285.823);
  --color-base-content: oklch(0.985 0 0);
}

@plugin "daisyui/theme" {
  name: 'light';
  default: true;
  prefersdark: false;
  color-scheme: 'light';
  --color-base-100: oklch(0.967 0.001 286.375);
  --color-base-200: oklch(0.92 0.004 286.32);
  --color-base-300: oklch(0.985 0 0);
  --color-base-content: oklch(0.141 0.005 285.823);
}

body {
  font-family: 'Noto Sans Simplified Chinese', sans-serif;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.tooltip-left-top > .tooltip-content {
  transform: translateX(-10%) translateY(var(--tt-pos, 0.25rem)) !important;
}
