@reference "tailwindcss";
@reference "tw-animate-css";
@reference "./main.css";

@keyframes carousel {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.carousel {
  @apply w-fit overflow-x-visible mb-3;
  .sub-carousel {
    @apply w-max ml-3 inline-flex gap-3;
    animation: carousel linear 35s infinite;
    animation-play-state: running;
  }
  .sub-carousel.carousel-reverse {
    @apply direction-reverse;
  }
}

.carousel-left-shadow, .carousel-right-shadow {
  @apply absolute top-0 bottom-0 w-14 from-background to-transparent;
}

.carousel-left-shadow {
  @apply left-0 bg-gradient-to-r z-10;
}

.carousel-right-shadow {
  @apply right-0 bg-gradient-to-l;
}
