---
import type { Blog } from "@web/lib/types";
import MainLayout from "@web/layouts/main-layout.astro";
import Section from "./section.astro";
import { BlogCard } from "@web/components/blog-card";
import { ButtonLink } from "@web/components/link";
import { Plus } from "lucide-react";
import "@web/styles/blog-carousel.css";

const exampleBlogs: Blog[] = new Array(30).fill({
  name: "Test 测试",
  url: "https://zhblogs.net",
  avatar: "/static/logo-light.webp",
});
---

<MainLayout>
  <div class="w-full flex flex-col gap-4">
    <Section class="pt-40 h-[100vh] flex flex-col gap-28">
      {/** Header */}
      <div class="flex flex-col justify-center items-center gap-10">
        <div class="w-full pb-10 flex flex-col text-center gap-6 border-b">
          <h1 class="text-5xl font-bold underline decoration-[8px] decoration-zhblogs-red">集博栈</h1>
          <span class="text-2xl text-muted-foreground font-semibold">尝试链接几乎所有的中文博客</span>
          <div class="flex justify-center gap-3">
            <ButtonLink href="/new">
              <Plus />
              提交博客
            </ButtonLink>
            <ButtonLink
              href="/about"
              variant="outline">
              关于我们
            </ButtonLink>
          </div>
        </div>
        <div class="flex gap-14 [&>*]:flex [&>*]:flex-col [&>*]:items-center [&>*]:gap-3 [&_h3]:text-3xl [&_h3]:font-semibold [&_h3]:font-[Consolas] [&_span]:text-sm [&_span]:text-muted-foreground">
          <div>
            <h3>0</h3>
            <span>巡检正常博客数量</span>
          </div>
          <div>
            <h3>0</h3>
            <span>总博客数量</span>
          </div>
          <div>
            <h3>0</h3>
            <span>审核通过博客数量</span>
          </div>
          <div>
            <h3>0</h3>
            <span>精选博客数量</span>
          </div>
        </div>
      </div>
      {/** Random blog carousel */}
      <div class="relative overflow-x-hidden">
        <div class="carousel-left-shadow"/>
        <div class="carousel">
          {new Array(3).fill(null).map(() => (
            <div class="sub-carousel">
              {exampleBlogs.map((blog, i) => (
                (i <= 9 && <BlogCard {...blog} client:idle/>)
              ))}
            </div>
          ))}
        </div>
        <div class="carousel">
          {new Array(3).fill(null).map(() => (
            <div class="sub-carousel carousel-reverse">
              {exampleBlogs.map((blog, i) => (
                ((10 <= i && i <= 19) && <BlogCard {...blog} client:idle/>)
              ))}
            </div>
          ))}
        </div>
        <div class="carousel">
          {new Array(3).fill(null).map(() => (
            <div class="sub-carousel">
              {exampleBlogs.map((blog, i) => (
                ((20 <= i && i <= 29) && <BlogCard {...blog} client:idle/>)
              ))}
            </div>
          ))}
        </div>
        <div class="carousel-right-shadow"/>
      </div>
    </Section>
    <Section title="近期动态">
      {/** @todo */}
    </Section>
  </div>
</MainLayout>
