---
import { cn } from "@web/lib/utils";
import MainLayout from "./main-layout.astro";
import "@web/styles/typography.css";

interface Props {
  title: string
  description?: string
  class?: string
}

const { title, description, class: className } = Astro.props;
---

<MainLayout>
  <div class="w-full pt-40 flex flex-col gap-8">
    <div class="space-y-4">
      <h1 class="text-3xl font-bold">{title}</h1>
      {description && <span class="text-muted-foreground">{description}</span>}
    </div>
    <div class={cn(className, "px-4 pb-10")}>
      <slot />
    </div>
  </div>
</MainLayout>
